body {
  margin-top: 60px;
  background: rgb(232, 238, 240);
}

.panel-heading {
  padding: 5px 15px;
}

.sidebar-group {
  max-height: 20em;
  overflow: auto;
  font-size: 12px;
}

.log-message {
  border: none;
  background: none;
  padding: 0px;
  margin: 0px;
}
